{% extends 'model.html' %}

{% block title %}
Página do Administrador
{% endblock %}

{% block sessiontitle %}Menu Empresa{% endblock %}
{% block sessionsubtitle %}Administre suas vagas!{% endblock %}

{% block content %}

    <!-- Admin menu -->
    <div class="mb-4 mt-2 justify-content-start row">
        <a class="col-4 col-md-3 col-xl-2 btn btn-primary text-center p-2 rounded-5 border border-1" href="/new-company">Nova Empresa</a>
    </div>

    <hr>

    <!-- Active Companies Section -->
    <h2 class="my-4">Empresas Ativas</h2>

    {% if not active_companies %}
        <p>Não há empresas ativas.</p>
    {% else %}
        <div class="row g-4">
            {% for company in active_companies %}
                <div class="col-12 col-lg-6 col-xl-4">
                    {% include 'components/company-card.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <hr class="mt-4">

    <!-- Inactive Companies Section -->
    <h2 class="my-4">Empresas Inativas</h2>

    {% if not inactive_companies %}
        <p>Não há empresas inativas.</p>
    {% else %}
        <div class="row g-4">
            {% for company in inactive_companies %}
            <div class="col-12 col-lg-6 col-xl-4">
                {% include 'components/company-card.html' %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
