{% extends 'model.html' %}

{% block title %}
Página do Administrador
{% endblock %}

{% block content %}
<div class="p-5 container-fluid">
    <h1 class="my-4">EmpreGO</h1>
    <h2 class="mb-4">Página do Administrador</h2>

    <p>Menu</p>
    <hr>

    <!-- Admin menu -->
    <div class="mb-3">
        <ul class="list-unstyled">
            <li>
                <div class="my-2 d-flex justify-content-start">
                    <a class="link p-2 rounded-5 border border-1" href="/new-company">Nova Empresa</a>
                </div>
            </li>
            <li>
                <div class="my-2 d-flex justify-content-start">
                    <a class="link p-2 rounded-5 border border-1" href="/logout">Sair</a>
                </div>
            </li>
        </ul>
    </div>

    <hr>

    <!-- Active Companies Section -->
    <h2 class="my-4">Empresas Ativas</h2>

    {% if not active_companies %}
        <p>Não há empresas ativas.</p>
    {% else %}
        <div class="row g-3">
            {% for company in active_companies %}
                {% include 'components/company-card.html' %}
            {% endfor %}
        </div>
    {% endif %}

    <hr>

    <!-- Inactive Companies Section -->
    <h2 class="my-4">Empresas Inativas</h2>

    {% if not inactive_companies %}
        <p>Não há empresas inativas.</p>
    {% else %}
        <div class="row g-3">
            {% for company in inactive_companies %}
                {% include 'components/company-card.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
