{% extends 'model.html' %}

{% block title %}
    Cadastrar Empresa
{% endblock %}

{% block sessiontitle %}Cadastre a empresa{% endblock %}
{% block sessionsubtitle %}Insira os dados{% endblock %}

{% block content %}

    <!-- Form for editing company -->

    <form action="/new-company" method="post" class="row">
        <div class="mb-3 col-12 col-lg-6">
            <label for="name" class="form-label">Nome da Empresa:</label>
            <input required type="text" name="name" class="form-control">
        </div>
        
        <div class="mb-3 col-12 col-md-6 col-lg-3">
            <label for="cnpj" class="form-label">CNPJ:</label>
            <input id="cnpj" required type="text" placeholder="00.000.000/0000-00" name="cnpj" class="form-control">
        </div>
        
        <div class="mb-3 col-12 col-md-6 col-lg-3">
            <label for="phone" class="form-label">Telefone:</label>
            <input id="phoneNumber" required type="text" name="phone" class="form-control">
        </div>
        
        <div class="mb-3 col-12 col-lg-6">
            <label for="email" class="form-label">E-mail:</label>
            <input required type="email" name="email" class="form-control">
        </div>
        
        <div class="mb-3 col-12 col-lg-6">
            <label for="password" class="form-label">Senha:</label>
            <input required type="text" name="password" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Editar Empresa</button>
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
    <script>
        Inputmask('99.999.999/9999-99').mask(document.getElementById('cnpj'))
        Inputmask('999.999.999-99').mask(document.getElementById('cpf'))
        Inputmask('99 99999-9999').mask(document.getElementById('phoneNumber'))
        Inputmask('numeric',{
            radixPoint: ",",
            groupSeparator: ".",
            digits: 2,
            autoGroup: true,
            rightAlign: false,
            allowMinus: false,
            prefix: "R$ "
        }).mask(document.getElementById('salary'))
    </script>
{% endblock %}