<footer class="bg-dark-subtle text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4 container p-2 bg-light-subtle shadow rounded-8">

        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://instagram.com/roelcode"
          target="_blank"
          role="button"
          ><i class="bi bi-instagram"></i></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://linkedin.com/in/pedroedroel"
          target="_blank"
          role="button"
          ><i class="bi bi-linkedin"></i></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/pedroeroel"
          target="_blank"
          role="button"
          ><i class="bi bi-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-link" href="https://linkedin.com/in/pedroedroel">Pedro Eduardo Roel</a>
    </div>
    <!-- Copyright -->
  </footer>