<form action="/edit-company/{{id}}" method="post">
    <label for="name">Nome da Empresa:</label>
    <input value="{{company['name']}}" required type="text" name="name"><br>
    <label for="cnpj">CNPJ:</label>
    <input value="{{company['cnpj']}}" required type="number" maxlength=14 name="cnpj"><br>
    <label for="phone">Telefone:</label>
    <input value="{{company['phone']}}" required type="number" maxlength=11 name="phone"><br>
    <label for="email">E-mail:</label>
    <input value="{{company['email']}}" required type="email" name="email"><br>
    <label for="password">Senha:</label>
    <input value="{{company['password']}}" required type="text" name="password"><br>
    <button type="submit">Edit</button>
</form>