{% extends 'model.html' %}
{% block title %}Empresa{% endblock %}

{% block sessiontitle %}Seja bem-vindo {{ company.name }}!{% endblock %}
{% block sessionsubtitle %}CNPJ: {{ company.cnpj }}{% endblock %}

{% block content %}

    <!-- Button to Create New Vacancy -->
    <div class="mb-4 mt-2 justify-content-start row">
        <a class="col-4 col-md-3 col-xl-2 btn btn-primary text-center p-2 rounded-5 border border-1" href="/new-vacancy">Nova Vaga</a>
    </div>  

    <hr class="w-100">

    <!-- Active Vacancies Section -->
    <h2 class="my-3">Vagas Ativas</h2>
    <div class="row g-4">
        {% if not activeVacancies %}
            <p>Não há vagas ativas.</p>
        {% else %}
            {% for vacancy in activeVacancies %}
            <div class="col-12 col-md-6 col-xl-4 mt-4">
                <div class="card bg-light text-center w-100 h-100">
                    {% include 'components/c-vacancy-card.html' %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <hr class="mt-5 w-100">

    <!-- Inactive Vacancies Section -->
    <h2 class="my-3">Vagas Inativas</h2>
    <div class="row g-4">
        {% if not inactiveVacancies %}
            <p>Não há vagas inativas.</p>
        {% else %}
            {% for vacancy in inactiveVacancies %}
            <div class="col-12 col-md-6 col-xl-4 mt-4">
                <div class="card bg-light text-center w-100 h-100">
                    {% include 'components/c-vacancy-card.html' %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}
