<div class="card h-100 shadow" style="height: 400px;">
    <div class="card-body d-flex justify-content-between flex-column">
        <!-- Card Title -->
        <h5 class="card-title text-start"><strong>{{ company['name'] }}</strong></h5>
        
        <!-- Company Info -->
        <p class="card-text text-start fs-6 opacity-75">CNPJ: {{ company['cnpj'] }}</p>
        <p class="card-text text-start fs-6 opacity-75">TEL: {{ company['phone'] }}</p>
        <p class="card-text text-start fs-6 opacity-75">E-MAIL: {{ company['email'] }}</p>
        
        <!-- Footer Info -->
        <p class="col-12 opacity-50 text-center text-md-start text-lg-start text-nowrap">
            ID: {{ company['companyID'] }} • 
            {% if company['status'] == 'active' %}
                Ativa
            {% else %}
                Inativa
            {% endif %}
        </p>

        <!-- Action Buttons -->
        <div class="row g-2 d-flex mt-3 justify-content-center">
            {% if company['status'] == 'inactive' %}
            <a class="p-2 rounded-5 border border-1 btn btn-danger col-12" onclick="return confirm('Tem certeza que quer excluir a empresa {{ company.name }}?')" href="/delete-company/{{ company['companyID'] }}">Excluir</a>
            {% endif %}
            <a class="p-2 rounded-5 border border-1 btn btn-primary col-12" href="/edit-company/{{ company['companyID'] }}">Editar</a>
            <a class="p-2 rounded-5 border border-1 btn btn-warning col-12 text-nowrap" onclick="return confirm('Tem certeza de que quer {% if company.status == 'active' %}desativar{% else %}ativar{% endif %} esta empresa?')" href="/switch-company-status/{{ company['companyID'] }}">
                {% if company['status'] == 'active' %}
                    Desativar
                {% else %}
                    Ativar
                {% endif %}
            </a>
        </div>
    </div>

    <!-- Footer -->
    <div class="card-footer text-center text-muted">
        {% if company['status'] == 'active' %}
            Ativa
        {% else %}
            Inativa
        {% endif %}
    </div>

</div>