* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.upload-container, .file-list-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1000px;
}
.upload-container {
    width: 600px;
}
.upload-container h2 {
    margin-bottom: 15px;
    color: #333;
}

.upload-container input[type="file"] {
    margin: 15px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.upload-container button, .file-list-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.upload-container button:hover, .file-list-container button:hover {
    background-color: #6cc971;
}
.mensagem {
    width: 100%;
    background-color: #d72727;
    color: #fff;
}

.file-list-container h2 {
    margin: 25px auto;
    padding-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #333;
}

.file-list-container ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.file-list-container li {
    margin: 5px 0 20px 0    ;
}

.download, .excluir {
    padding: 5px 20px;
    background-color: #5562d3;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
}
.excluir {
    background-color: #db3535;
    color: #fff;
}
.download:hover {
    background-color: #848ddb;
}