<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="upload-container">
        <h2>Envie seu arquivo</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Enviar Arquivo</button>
        </form>
        
        {% if msg %}

        <div class="mensagem" style="margin-top: 10px;">
            <p>{{ msg }}</p>
        </div>

        {% endif %}

    </div>
</body>
</html>
