{% extends 'model.html' %}

{% block title %}Detalhes da Vaga{% endblock %}

{% block sessiontitle %}{{ vacancy.title }}{% endblock %}
{% block sessionsubtitle %}{% if vacancy.salary %}{{vacancy.salary}}{% else %}Salário não especificado{% endif %}{% endblock %}

{% block content %}
        <div class="flex-nowrap flex-column d-flex">

            {% if vacancy %}

                    <!-- Job Description -->

                    <p class="opacity-75">
                        {{ vacancy.description }}
                    </p>

                    
                    
                    
                    <!-- Job Location If Avaiable -->
                    
                    {% if vacancy.location %}
                    
                    <div class="opacity-75 my-2 my-md-3">
                        <i class="bi bi-geo-alt-fill me-1"></i>{{ vacancy.location }}
                    </div>
                    
                    <!-- Job Type and Arrangement -->
                    
                    <p class="opacity-75">
                        {{ vacancy.type }} • {% if vacancy.arrangement == 'Remote' %}Remoto{% elif vacancy.arrangement == 'Hybrid' %}Híbrido{% else %}Presencial{% endif %}
                    </p>
                    
                    {% endif %}

                    
                    {% if not session %}
                    
                    <div class="my-3">
                        <h5>Como se candidatar:</h5>
                        <p class="text-start text-disabled">Para se candidatar a esta vaga, clique no botão abaixo e envie seu currículo.</p>
                    </div>

                    <!-- Apply Button -->
                    
                    <a href="/apply/{{ vacancy.ID_Vacancy }}" 
                    class="btn btn-success" 
                    data-mdb-ripple-init>
                    Candidatar-se
                    </a>

                    {% endif %}

            {% else %}

                <h4 class="text-center">Vaga Inválida!</h4>

            {% endif %}
        </div>
    {% endblock %}
    