{% extends 'model.html' %}

{% block title %}Página Inicial{% endblock %}

{% block sessiontitle %}Encontre a vaga perfeita para você!{% endblock %}
{% block sessionsubtitle %}É só pesquisar!{% endblock %}

{% block content %}

    <div class="row p-0 p-md-2 p-lg-2 g-sm-0 g-md-4">

        <!-- VACANCY CARDS -->

        {% if not vacancies %}
    
            <h2 class="text-center my-5">Não há vagas!</h2>
    
        {% else %}

            {% for vacancy in vacancies %}

                    {% include 'components/vacancy-card.html' %}

            {% endfor %}

        {% endif %}

    </div>

{% endblock %}
