{% extends 'model.html' %}

{% block title %}Página Inicial{% endblock%}

{% block content %}

    <div class="container-fluid p-5 shadow">
        <div class="d-flex flex-wrap w-100 justify-content-start">
            <p class="display-6 w-100">Encontre a vaga perfeita para você!</p>
            <p class="fs-7 bg-dark p-2 text-light text-center rounded-6">É só pesquisar!</p>
        </div>

        <hr>

        <div class="col p-2 w-100">
            <div class="row">

                {% if not vacancies %}

                <h2 class="text-center my-5">Não há vagas!</h2>

                {% else %}

                {% for vacancy in vacancies %}
                    <div class="card col-12 col-md-6 col-lg-4 bg-light text-center">
                        {% include 'components/vacancy-card.html' %}

                    </div>

                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}