{% extends 'model.html' %}

{% block title %}Página de Pesquisa{% endblock %}

{% block sessiontitle %}{% if search %}Resultados para "{{search}}"{% else %}Pesquise qualquer vaga!{% endif %}{% endblock %}
{% block sessionsubtitle %}Pesquise qualquer informação da vaga!{% endblock %}

{% block content %}

        <div class="row w-100">

            {% if not vacancies %}

                {% if not search %}

                <h2 class="text-center my-5">Faça alguma pesquisa para encontrar resultados!</h2>
                
                {% else %}

                <h2 class="text-center my-5">Nenhum resultado encontrado!</h2>

                {% endif %}

                
            {% else %}

                {% for vacancy in vacancies %}

                    {% include 'components/vacancy-card.html' %}
                
                {% endfor %}

            {% endif %}
        </div>

{% endblock %}
