{% extends 'model.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <form method="post" action="/login" class="d-flex justify-content-center flex-wrap m-5 w-100" style="width: 22rem;">

        <h2 class="mb-4">Login</h2>

        <div class="mb-3 w-100">
            <label for="email" class="form-label">Endereço de Email</label>
            <input type="email" class="w-100 form-control" name="email" id="">
        </div>
    
        <div class="mb-4 w-100">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" name="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Acessar</button>
    
        {% if errormsg %}
        <p style="color: red;" class="w-100">{{ errormsg }}
        </p>
        {% endif %}

    </form>
</div>

{% endblock %}