{% extends 'model.html' %}

{% block title %}
Login
{% endblock %}

{% block sessiontitle %}Faça seu login!{% endblock %}
{% block sessionsubtitle %}Acesse sua conta{% endblock %}

{% block content %}
    <form method="post" action="/login" class="needs-validation row justify-content-center" style="max-width: 50rem;" novalidate>

        <div class="my-4 col-12">
            <label for="email" class="form-label">Endereço de Email</label>
            <input type="email" class="form-control" name="email">
        </div>

        <div class="mb-4 col-12">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="col-12 col-lg-6"><button type="submit" class="btn btn-primary w-100">Acessar</button></div>

        {% if errormsg %}
        <p class="text-danger mt-2">{{ errormsg }}</p>
        {% endif %}

    </form>

<script>        (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()</script>
{% endblock %}
