<div class="card h-100">
    <div class="card-body d-flex justify-content-between flex-column">
        <h5 class="card-title text-start"><strong>{{ vacancy.title }}</strong></h5>
        <p class="card-text text-start fs-6 opacity-75">{{ vacancy.description }}</p>
    
        <p class="col-12 opacity-50 text-center text-md-start text-lg-start text-nowrap">
            ID: {{ vacancy['vacancyID'] }} • {{ vacancy.type }} • 
            {% if vacancy.arrangement == 'Remote' %}Remoto{% elif vacancy.arrangement == 'Hybrid' %}Híbrido{% else %}Presencial{% endif %}
        </p>
    
        <div class="col-12 opacity-75 mb-3 text-md-start text-lg-start text-center text-nowrap">
            <i class="bi bi-geo-alt-fill me-1"></i>{{ vacancy.location }}
        </div>
    
        <div class="row g-2 d-flex mt-3 justify-content-center">
            <a class="p-2 rounded-5 border border-1 btn btn-primary m-1 col-12" href="/vacancy-docs/{{ vacancy['vacancyID'] }}">Candidaturas</a>
            <a class="p-2 rounded-5 border border-1 btn btn-primary m-1 col-12" href="/edit-vacancy/{{ vacancy['vacancyID'] }}">Editar</a>
            {% if vacancy.status == 'active' %}
            <a class="p-2 rounded-5 border border-1 btn btn-warning m-1 text-nowrap col-12" onclick="confirm('Tem certeza de que quer desativar esta vaga?')" href="/switch-vacancy-status/{{ vacancy['vacancyID'] }}">
                Desativar
            </a>
            {% else %}
            <a class="p-2 rounded-5 border border-1 btn btn-warning m-1 text-nowrap col-12" onclick="confirm('Tem certeza de que quer desativar esta vaga?')" href="/switch-vacancy-status/{{ vacancy['vacancyID'] }}">
                Ativar
            </a>
            <a class="p-2 rounded-5 border border-1 btn btn-danger m-1 col-12" href="/delete-vacancy/{{ vacancy['vacancyID'] }}" onclick="confirm('Tem certeza que deseja excluir esta vaga?')">Excluir</a>
            {% endif %}
        </div>        
    </div>
    <div class="card-footer text-muted" id="salary">{{ vacancy.salary }}</div>
</div>
