<h1>EmpreGO</h1>
<h2>Página do Administrador</h2>
<p>Menu</p>
<hr>
<ul>
    <li><a href="/register-company">Nova Empresa</a></li>
    <li><a href="/logout">Sair</a></li>
</ul>

<h2>Empresas Ativas</h2>

{%if not active_companies %}
    <p>Não há empresas ativas.</p>
{% else %}
{% for company in active_companies %}
<p>ID: {{ active_companies[0] }} - 
    NOME: {{ active_companies[1] }} -
    CNPJ: {{ active_companies[2] }} -
    TEL: {{ active_companies[3] }} -
    E-MAIL: {{ active_companies[4] }} -
</p>

{% endfor %}
{% endif %}

<hr>

<h2>Empresas Inativas</h2>

{%if not inactive_companies %}
    <p>Não há empresas inativas.</p>
{% else %}
{% for company in inactive_companies %}
<p> ID: {{ inactive_companies[0] }} - 
    NOME: {{ inactive_companies[1] }} -
    CNPJ: {{ inactive_companies[2] }} -
    TEL: {{ inactive_companies[3] }} -
    E-MAIL: {{ inactive_companies[4] }} -
</p>

{% endfor %}
{% endif %}