<h1>EmpreGO</h1>
<h2>Página do Administrador</h2>
<p>Menu</p>
<hr>
<ul>
    <li><a href="/new-company">Nova Empresa</a></li>
    <li><a href="/logout">Sair</a></li>
</ul>

<h2>Empresas Ativas</h2>

{%if not active_companies %}
    <p>Não há empresas ativas.</p>
{% else %}
{% for a_company in active_companies %}

<a href="/delete-company/{{ a_company['ID_Company'] }}"><button>Excluir</button></a>
<a href="/edit-company/{{ a_company['ID_Company'] }}"><button>Editar</button></a>
<a onclick="confirm('Tem certeza de que quer desativar esta empresa?')" href="/switch-company-status/{{ a_company['ID_Company'] }}"><button>Desativar</button></a>

<p>ID: {{ a_company['ID_Company'] }} - 
    NOME: {{ a_company['name'] }} -
    CNPJ: {{ a_company['cnpj'] }} -
    TEL: {{ a_company['phone'] }} -
    E-MAIL: {{ a_company['email'] }}
</p>

{% endfor %}
{% endif %}

<hr>

<h2>Empresas Inativas</h2>


{%if not inactive_companies %}

<p>Não há empresas inativas.</p>

{% else %}

{% for in_company in inactive_companies %}

<a href="/delete-company/{{ in_company['ID_Company'] }}"><button>Excluir</button></a>
<a href="/edit-company/{{ in_company['ID_Company'] }}"><button>Editar</button></a>
<a onclick="confirm('Tem certeza de que quer ativar esta empresa?')" href="/switch-company-status/{{ in_company['ID_Company'] }}"><button>Ativar</button></a>

<p> ID: {{ in_company['ID_Company'] }} - 
    NOME: {{ in_company['name'] }} -
    CNPJ: {{ in_company['cnpj'] }} -
    TEL: {{ in_company['phone'] }} -
    E-MAIL: {{ in_company['email'] }}
</p>

{% endfor %}
{% endif %}