<h1>EmpreGO</h1>
<h2>Página do Administrador</h2>
<p>Menu</p>
<hr>
<ul>
    <li><a href="/new-company">Nova Empresa</a></li>
    <li><a href="/logout">Sair</a></li>
</ul>

<h2>Empresas Ativas</h2>

{%if not active_companies %}
    <p>Não há empresas ativas.</p>
{% else %}
{% for company in active_companies %}
<p>ID: {{ company[0] }} - 
    NOME: {{ company[1] }} -
    CNPJ: {{ company[2] }} -
    TEL: {{ company[3] }} -
    E-MAIL: {{ company[4] }}
</p>

{% endfor %}
{% endif %}

<hr>

<h2>Empresas Inativas</h2>

{%if not inactive_companies %}
    <p>Não há empresas inativas.</p>
{% else %}
{% for company in inactive_companies %}
<p> ID: {{ company[0] }} - 
    NOME: {{ company[1] }} -
    CNPJ: {{ company[2] }} -
    TEL: {{ company[3] }} -
    E-MAIL: {{ company[4] }} -
</p>

{% endfor %}
{% endif %}