<h1>EmpreGO</h1>

<hr>

<h2>Olá, {{ company['name'] }} !</h2>

<p>CNPJ: {{ company['cnpj'] }}</p>

<hr>

<ul>
    <li><a href="/new-vacancy">Nova Vaga</a></li>
    <li><a href="/logout">Sair</a></li>
</ul>

<hr>

<h2>Vagas Ativas</h2>

{%if not activeVacancies %}
    <p>Não há vagas ativas.</p>
{% else %}
{% for a_vacancy in activeVacancies %}

<a href="/delete-vacancy/{{ a_vacancy['ID_Vacancy'] }}"><button>Excluir</button></a>
<a href="/edit-vacancy/{{ a_vacancy['ID_Vacancy'] }}"><button>Editar</button></a>
<a onclick="confirm('Tem certeza de que quer desativar esta empresa?')" href="/switch-vacancy-status/{{ a_vacancy['ID_Vacancy'] }}"><button>Desativar</button></a>

<p>
    ID: {{ a_vacancy['ID_Vacancy'] }} - 
    TÍTULO: {{ a_vacancy['title'] }} -
    DESCRIÇÃO: {{ a_vacancy['description'] }} -
    MODALIDADE: {{ a_vacancy['arrangement'] }} -
    TIPO: {{ a_vacancy['type'] }} -
    LOCALIZAÇÃO: {{ a_vacancy['location'] }} -
    SALÁRIO: {{ a_vacancy['salary'] }}
</p>

{% endfor %}
{% endif %}

<hr>

<h2>Vagas Inativas</h2>


{%if not inactiveVacancies %}

<p>Não há vagas inativas.</p>

{% else %}

{% for in_vacancy in inactiveVacancies %}

<a href="/delete-vacancy/{{ in_vacancy['ID_Vacancy'] }}"><button>Excluir</button></a>
<a href="/edit-vacancy/{{ in_vacancy['ID_Vacancy'] }}"><button>Editar</button></a>
<a onclick="confirm('Tem certeza de que quer ativar esta empresa?')" href="/switch-vacancy-status/{{ in_vacancy['ID_Vacancy'] }}"><button>Ativar</button></a>

<p> ID: {{ in_vacancy['ID_Vacancy'] }} - 
    TÍTULO: {{ in_vacancy['title'] }} -
    DESCRIÇÃO: {{ in_vacancy['description'] }} -
    MODALIDADE: {{ in_vacancy['arrangement'] }} -
    TIPO: {{ in_vacancy['type'] }} -
    LOCALIZAÇÃO: {{ in_vacancy['location'] }} -
    SALÁRIO: {{ in_vacancy['salary'] }}
</p>

{% endfor %}
{% endif %}