<h1>EmpreGO</h1>

<hr>

<h2>Olá, {{ company[1] }} !</h2>

<p>CNPJ: {{ company[2] }}</p>

<hr>

<ul>
    <li><a href="/new-vacancy">Nova Vaga</a></li>
    <li><a href="/logout">Sair</a></li>
</ul>

<hr>

<h2>Vagas Ativas</h2>

{%if not activeVacancies %}
    <p>Não há vagas ativas.</p>
{% else %}
{% for a_vacancy in activeVacancies %}

<a href="/delete-vacancy/{{ a_vacancy[0] }}"><button>Excluir</button></a>
<a href="/edit-vacancy/{{ a_vacancy[0] }}"><button>Editar</button></a>
<a onclick="confirm('Tem certeza de que quer desativar esta empresa?')" href="/switch-vacancy-status/{{ a_vacancy[0] }}"><button>Desativar</button></a>

<p>
    ID: {{ a_vacancy[0] }} - 
    TÍTULO: {{ a_vacancy[1] }} -
    DESCRIÇÃO: {{ a_vacancy[2] }} -
    MODALIDADE: {{ a_vacancy[3] }} -
    TIPO: {{ a_vacancy[4] }} -
    LOCALIZAÇÃO: {{ a_vacancy[5] }} -
    SALÁRIO: {{ a_vacancy[6] }}
</p>

{% endfor %}
{% endif %}

<hr>

<h2>Vagas Inativas</h2>


{%if not inactiveVacancies %}

<p>Não há vagas inativas.</p>

{% else %}

{% for in_vacancy in inactiveVacancies %}

<a href="/delete-vacancy/{{ in_vacancy[0] }}"><button>Excluir</button></a>
<a href="/edit-vacancy/{{ in_vacancy[0] }}"><button>Editar</button></a>
<a onclick="confirm('Tem certeza de que quer ativar esta empresa?')" href="/switch-vacancy-status/{{ in_vacancy[0] }}"><button>Ativar</button></a>

<p> ID: {{ in_vacancy[0] }} - 
    TÍTULO: {{ in_vacancy[1] }} -
    DESCRIÇÃO: {{ in_vacancy[2] }} -
    MODALIDADE: {{ in_vacancy[3] }} -
    TIPO: {{ in_vacancy[4] }} -
    LOCALIZAÇÃO: {{ in_vacancy[5] }} -
    SALÁRIO: {{ in_vacancy[6] }}
</p>

{% endfor %}
{% endif %}