<form action="/new-company" method="post">
    <label for="name">Nome da Empresa:</label>
    <input required type="text" name="name"><br>
    <label for="cnpj">CNPJ:</label>
    <input required type="number" maxlength=11 name="cnpj"><br>
    <label for="phone">Telefone:</label>
    <input required type="number" maxlength=11 name="phone"><br>
    <label for="email">E-mail:</label>
    <input required type="email" name="email"><br>
    <label for="password">Senha:</label>
    <input required type="text" name="password"><br>
    <button type="submit">Cadastrar</button>
</form>