<header class="">

  <nav
    class="navbar px-5 navbar-expand-lg navbar-dark bg-dark border-body"
    data-bs-theme="dark"
  >

    <div class="container-fluid">

      <a class="navbar-brand" href="#">EmpreGO!</a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="vr opacity-50"></div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="d-flex justify-content-between w-100 navbar-nav me-auto mb-2 mb-lg-0">
            
            
            {% if session['adm'] %}
            
            <li class="nav-item">
                <a class="nav-link" href="#">Administrador</a>
            </li>
            
            {% elif session['companyInfo'] %}
            
            <li class="nav-item">
                <a class="nav-link" href="">Menu Empresa</a>
            </li>
            
            {% endif %}
            
            {% if not session %}
    
            <li class="nav-item">
                <a href="" class="nav-link">Login</a>
            </li>
    
            {% else %}
    
            <li class="nav-item">
                <a href="" class="nav-link">Logout</a>
            </li>
    
            {% endif %}
        </ul>
        
        <form class="d-flex w-50" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
